<!DOCTYPE html>
<!--meudeus quem diria que eu estaria fazendo coisas em html com javascript de novo, só eu mesmo pra fazer sascoisa-->
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E7">
    <title>Proffy | Sua plataforma de estudos online</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-registered.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>

<body id="page-registered">
    <div class="success-bg-container">
        <img id="success-background" src="/images/success-background.svg" alt="Cadastro salvo!">
    </div>

    <div class="message-container">
        <div class="success-message">
            <img src="/images/icons/success-check-icon.svg" alt="Parabéns!">
            <h1>Cadastro salvo!</h1>
            <p>Tudo certo, seu cadastro está na nossa lista de professores.</p>
            <p>Agora é só ficar de olho no seu WhatsApp.</p>
        </div>
    
        <div class="button-container">
            <a class="access-list" href="/study">
                Acessar lista</a>
        </div>
    </div>
</body>
</html>